body{
    max-width: 1270px;
    background-color: lightpink;
    margin: auto;
}
.hero-container{
    display: flex;
    background-color:pink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    align-items: center;
    gap : 20px;
}
.hero-container img{
    width: 100%;
    height: auto;
}

.hero-container button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}