body{
    max-width: 1270px;
    background-color: lightcoral;
    margin: auto;
}
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
}

.card h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card img{
    width: 100%;
    height: auto;
}
.card button{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
